In [72]:
import pandas as pd
import numpy as np
import seaborn as sns

In [73]:
data = pd.read_csv('./data/timeseries.csv')

In [74]:
data.columns

Index(['SALE TYPE', 'SOLD DATE', 'PROPERTY TYPE', 'ADDRESS', 'CITY',
       'STATE OR PROVINCE', 'ZIP OR POSTAL CODE', 'PRICE', 'BEDS', 'BATHS',
       'LOCATION', 'SQUARE FEET', 'LOT SIZE', 'YEAR BUILT', 'DAYS ON MARKET',
       '$/SQUARE FEET', 'HOA/MONTH', 'STATUS', 'NEXT OPEN HOUSE START TIME',
       'NEXT OPEN HOUSE END TIME',
       'URL (SEE https://www.redfin.com/buy-a-home/comparative-market-analysis FOR INFO ON PRICING)',
       'SOURCE', 'MLS#', 'FAVORITE', 'INTERESTED', 'LATITUDE', 'LONGITUDE'],
      dtype='object')

In [84]:
data['Date'] = pd.to_datetime(data['SOLD DATE'])
data['Month_Year'] = pd.DatetimeIndex(data['Date']).to_period('M')

### Time Series

In [76]:
import sklearn.metrics as metrics
def regression_results(y_true, y_pred):
    # Regression metrics
    explained_variance=metrics.explained_variance_score(y_true, y_pred)
    mean_absolute_error=metrics.mean_absolute_error(y_true, y_pred) 
    mse=metrics.mean_squared_error(y_true, y_pred) 
    mean_squared_log_error=metrics.mean_squared_log_error(y_true, y_pred)
    median_absolute_error=metrics.median_absolute_error(y_true, y_pred)
    r2=metrics.r2_score(y_true, y_pred)
    print('explained_variance: ', round(explained_variance,4))    
    print('mean_squared_log_error: ', round(mean_squared_log_error,4))
    print('r2: ', round(r2,4))
    print('MAE: ', round(mean_absolute_error,4))
    print('MSE: ', round(mse,4))
    print('RMSE: ', round(np.sqrt(mse),4))

In [85]:
data.columns

Index(['SALE TYPE', 'SOLD DATE', 'PROPERTY TYPE', 'ADDRESS', 'CITY',
       'STATE OR PROVINCE', 'ZIP OR POSTAL CODE', 'PRICE', 'BEDS', 'BATHS',
       'LOCATION', 'SQUARE FEET', 'LOT SIZE', 'YEAR BUILT', 'DAYS ON MARKET',
       '$/SQUARE FEET', 'HOA/MONTH', 'STATUS', 'NEXT OPEN HOUSE START TIME',
       'NEXT OPEN HOUSE END TIME',
       'URL (SEE https://www.redfin.com/buy-a-home/comparative-market-analysis FOR INFO ON PRICING)',
       'SOURCE', 'MLS#', 'FAVORITE', 'INTERESTED', 'LATITUDE', 'LONGITUDE',
       'Date', 'Month_Year'],
      dtype='object')

In [88]:
data = data.set_index('Date')
data_price = data[['PRICE']]

In [100]:
data_price = data_price.sort_values(by='Date')

In [101]:
data_price.loc[:,'Last_Month'] = data_price.loc[:,'PRICE'].shift()

In [102]:
data_price.loc[:,"LM_Shift"] = data_price.loc[:,'Last_Month'].diff()

In [106]:
data_price.dropna(inplace=True)

In [104]:
data_price

             PRICE  Last_Month  LM_Shift
Date
2016-12-30  451350    799000.0  416500.0
2016-12-30  720000    451350.0 -347650.0
2017-01-11  359000    720000.0  268650.0
2017-01-12  465000    359000.0 -361000.0
2017-02-28  465000    465000.0  106000.0
...            ...         ...       ...
NaT         440000    384500.0 -140500.0
NaT         480000    440000.0   55500.0
NaT         790000    480000.0   40000.0
NaT         514900    790000.0  310000.0
NaT         360000    514900.0 -275100.0

[346 rows x 3 columns]