In [1]:
import pandas as pd
import numpy as np

In [21]:
msa_fips = pd.read_excel('MSA_FIPS.xls', header=2, dtype={'FIPS State Code':'string','FIPS County Code':'string'})
msa_fips = msa_fips[~msa_fips['CBSA Title'].isna()]

In [30]:
msa_fips['FIPS'] = msa_fips['FIPS State Code']+msa_fips['FIPS County Code']
msa_fips = msa_fips.groupby('CBSA Title').FIPS.unique().to_frame()
msa_fips = msa_fips.reset_index().rename(columns={'CBSA Title':'CBSA_name'})

In [59]:
msa_fips.head()

      CBSA_name                   FIPS
0  Aberdeen, SD         [46013, 46045]
1  Aberdeen, WA                [53027]
2   Abilene, TX  [48059, 48253, 48441]
3       Ada, OK                [40123]
4    Adrian, MI                [26091]

In [72]:
fip_zips = pd.read_csv('ZIP_FIPS.csv')
fip_zips = fip_zips.groupby('STCOUNTYFP').ZIP.unique()
fip_zips[46013]

array([57460, 57439, 57434, 57449, 57474, 57461, 57445, 57432, 57479,
       57451, 57433, 57402, 57426, 57401, 57481, 57422, 57427, 57441,
       57446], dtype=int64)

In [80]:
msa_fips['ZIPS'] = msa_fips.FIPS.apply(lambda x: [fip_zips[int(each)] for each in list(x)])

In [83]:
msa_fips.ZIPS = msa_fips.ZIPS.apply(lambda x: [item for sublist in x for item in sublist])

In [93]:
msa_fips['MSA'] = msa_fips.CBSA_name.apply(lambda x: x.split(',')[0])
msa_fips['STATE'] = msa_fips.CBSA_name.apply(lambda x: x.split(',')[1])
msa_fips.head()

,CBSA_name,FIPS,ZIPS,MSA,STATE
0,"Aberdeen, SD","[46013, 46045]","[57460, 57439, 57434, 57449, 57474, 57461, 574...",Aberdeen,SD
1,"Aberdeen, WA",[53027],"[98520, 98550, 98557, 98535, 98583, 98563, 985...",Aberdeen,WA
2,"Abilene, TX","[48059, 48253, 48441]","[76464, 79510, 76437, 79504, 79601, 76469, 764...",Abilene,TX
3,"Ada, OK",[40123],"[74844, 74842, 74825, 74865, 74820, 74871, 748...",Ada,OK
4,"Adrian, MI",[26091],"[49221, 49235, 49229, 49267, 49233, 48176, 492...",Adrian,MI

In [96]:
msa_fips.to_csv('MSA_to_ZIP.csv', index=False)