In [1]:
import pandas as pd
import numpy as np

In [185]:
target_states = ['FL','NC','GA','VA','MD','SC','WV','DC',
                 'GA-SC','NC-SC', 'TN-GA', 'TN-VA', 'GA-AL', 
                 'MD-WV', 'WV-KY-OH', 'SC-NC', 'MD-DE', 'VA-NC',
                 'DC-VA-MD-WV', 'WV-OH', 'VA-WV']

msa_zip = pd.read_csv('MSA_to_ZIP.csv')
msa_zip.STATE = msa_zip.STATE.str.strip()
msa_zip.MSA = msa_zip.MSA.str.strip()
msa_zip = msa_zip[msa_zip.STATE.isin(target_states)]

In [186]:
msa_zip.MSA = msa_zip.MSA.str.replace('-',' ',regex=False)
msa_zip.MSA = msa_zip.MSA.str.replace('.','',regex=False)

## FRED Home Price Index Data

In [172]:
HPI = pd.read_csv('House_Price_Index_MSA.csv', index_col='Date').T.reset_index()
HPI.rename(columns={'index':'Name'}, inplace=True)

In [173]:
for each in ['all_transactions_house_price_index_for_','_msa']:
    HPI.Name = HPI.Name.str.replace(each,'')
#HPI.Name = HPI.Name.str.replace('all_transactions_house_price_index_for_','').str.replace('_msa','').str.replace('_',' ')
replace_states = ['FL','NC','GA','VA','MD','SC','WV','DC','TN','KY','OH','DE','AL','WVD']
for _ in range(4):
    for each in replace_states:
        HPI.Name = HPI.Name.str.replace('_'+str.lower(each)+'$','', regex=True)
HPI.Name = HPI.Name.str.replace('_',' ')

In [174]:
HPI.Name = HPI.Name.apply(lambda x: str.title(x))

In [187]:
HPI.head()

Date,Name,2010-01-01,2010-04-01,2010-07-01,2010-10-01,2011-01-01,2011-04-01,2011-07-01,2011-10-01,2012-01-01,...,2019-04-01,2019-07-01,2019-10-01,2020-01-01,2020-04-01,2020-07-01,2020-10-01,2021-01-01,2021-04-01,2021-07-01
0,Albany,160.94,153.88,158.30,157.98,152.57,150.76,148.08,149.89,146.58,...,158.95,156.89,160.17,162.26,164.17,165.16,167.59,175.14,177.92,187.61
1,Asheville,221.20,215.76,219.22,216.27,211.96,207.44,206.74,208.91,206.97,...,297.15,299.82,304.76,307.18,309.81,316.20,323.33,332.80,351.80,373.46
2,Athens Clarke County,177.26,174.21,172.47,170.05,162.22,160.12,158.74,156.33,155.10,...,225.88,230.12,232.60,240.19,241.92,245.91,250.93,256.66,276.57,288.40
3,Atlanta Sandy Springs Alpharetta,154.49,150.80,151.74,150.15,144.50,138.25,138.82,138.88,135.05,...,221.49,224.47,226.47,230.04,232.20,236.92,241.75,248.76,263.65,279.86
4,Augusta Richmond County,166.63,165.36,165.96,164.93,161.11,154.83,156.91,156.69,155.20,...,186.75,188.63,193.60,195.30,197.34,199.77,204.08,212.04,220.92,231.50