In [108]:
import pandas as pd
import numpy as np
from helper_funcs import *

In [57]:
data = pd.read_csv('https://nycdsacapstone2021.blob.core.windows.net/fromsmh/Zip_Master_File_Demographics.csv?sp=r&st=2021-12-13T02:00:56Z&se=2021-12-25T10:00:56Z&spr=https&sv=2020-08-04&sr=b&sig=4MkUKv9M7vP%2BhTs2t3tYqz4d0WLPDETcm8l7x9gpf5E%3D', dtype={'CountyFIPS':'string', 'StateFIPS':'string'})

In [58]:
data.columns

Index(['ZipCode', 'PrimaryRecord', 'Population', 'HouseholdsPerZipCode',
       'WhitePopulation', 'BlackPopulation', 'HispanicPopulation',
       'AsianPopulation', 'HawaiianPopulation', 'IndianPopulation',
       'OtherPopulation', 'MalePopulation', 'FemalePopulation',
       'PersonsPerHousehold', 'AverageHouseValue', 'IncomePerHousehold',
       'MedianAge', 'MedianAgeMale', 'MedianAgeFemale', 'Latitude',
       'Longitude', 'Elevation', 'State', 'StateFullName', 'CityType',
       'CityAliasAbbreviation', 'AreaCode', 'City', 'CityAliasName', 'County',
       'CountyFIPS', 'StateFIPS', 'TimeZone', 'DayLightSaving', 'MSA', 'PMSA',
       'CSA', 'CBSA', 'CBSA_Div', 'CBSAType', 'CBSA_Name', 'MSA_Name',
       'PMSA_Name', 'Region', 'Division', 'MailingName', 'NumberOfBusinesses',
       'NumberOfEmployees', 'BusinessFirstQuarterPayroll',
       'BusinessAnnualPayroll', 'BusinessEmploymentFlag', 'GrowthRank',
       'GrowingCountiesA', 'GrowingCountiesB', 'GrowthIncreaseNumber',
       'GrowthIncreasePercentage', 'CBSAPopulation', 'CBSADivisionPopulation',
       'CongressionalDistrict', 'CongressionalLandArea', 'DeliveryResidential',
       'DeliveryBusiness', 'DeliveryTotal', 'PreferredLastLineKey',
       'ClassificationCode', 'MultiCounty', 'CSAName', 'CBSA_Div_Name',
       'CityStateKey', 'PopulationEstimate', 'LandArea', 'WaterArea',
       'CityAliasCode', 'CityMixedCase', 'CityAliasMixedCase', 'BoxCount',
       'SFDU', 'MFDU', 'StateANSI', 'CountyANSI', 'ZipIntroDate',
       'AliasIntroDate', 'FacilityCode', 'CityDeliveryIndicator',
       'CarrierRouteRateSortation', 'FinanceNumber', 'UniqueZIPName',
       'SSAStateCountyCode', 'MedicareCBSACode', 'MedicareCBSAName',
       'MedicareCBSAType', 'MarketRatingAreaID', 'CountyMixedCase'],
      dtype='object')

In [59]:
data = data[['ZipCode','State','County','CBSA_Name','CountyFIPS', 'StateFIPS', 'Population', 'HouseholdsPerZipCode',
             'WhitePopulation', 'BlackPopulation', 'HispanicPopulation', 'AsianPopulation', 'IndianPopulation', 
             'OtherPopulation', 'MalePopulation', 'FemalePopulation', 'AverageHouseValue', 'IncomePerHousehold',
             'MedianAge','NumberOfBusinesses']]

In [60]:
print(data.CBSA_Name.nunique())
#data.CBSA_Name.unique()

156

In [61]:
replace_states = ['FL','NC','GA','VA','MD','SC','WV','DC','TN','KY','OH','DE','AL']
for _ in range(4):
    for each in replace_states:
        data.CBSA_Name = data.CBSA_Name.str.replace(each,'', regex=False)
data.CBSA_Name = data.CBSA_Name.str.replace('-',' ', regex=False)
data.CBSA_Name = data.CBSA_Name.str.strip()

In [64]:
data.to_csv('ZIP_master_file.csv', index=False)

#### More Population info

In [67]:
pop = pd.read_csv('https://nycdsacapstone2021.blob.core.windows.net/additionaldata/census2019_pop_est.csv', 
                  dtype={'ZIP':'string'}, index_col='ZIP')
pop.index = pop.index.astype('int64')

In [81]:
data.set_index('ZipCode', inplace=True)
data = data.merge(pop['over_65_ratio'], how='left', left_on='ZipCode', right_index=True)

#### Schools

In [109]:
schools = get_schools()
schools.columns

----pulling schools data from Azure storage----
----Done----

Index(['name', 'street', 'city', 'zip', 'state', 'lat', 'long', 'districtID',
       'districtName', 'gradeLevels', 'ratingScale', 'enrollment',
       'schoolType', 'pctLowIncome', 'overallRating'],
      dtype='object')

In [116]:
zip_school_rating = schools.groupby('zip').agg("mean")['overallRating']
data = data.merge(zip_school_rating, how='left', left_index=True, right_index=True)
data.rename(columns={'overallRating':'school_rating'}, inplace=True)

#### Hospital Data

In [101]:
hosp = pd.read_csv('Hospitals_geocoded.csv')
hosp = hosp[hosp.Overall_Rating>2]
data = data.merge(hosp.groupby('ZIP_Code').agg('count')['Facility_Name'], how='left', left_index=True, right_index=True)
data.rename(columns={'Facility_Name':'Hosp_count'}, inplace=True)

#### Bring in MSA level FRED data

In [88]:
msa_data = pd.read_csv('MSA_data.csv')
msa_data = msa_data.drop(['CBSA_name','STATE','ZIPS'], axis=1).set_index('MSA')
msa_data.head()

,HPI,Demand_score,Supply_score,listviews_vs_US,med_days_on_mkt,nielson_rank,UE_rate
MSA,,,,,,,
Albany,187.61,49.163880,52.173913,0.9959,45.0,279.0,3.7
Albemarle,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Americus,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Arcadia,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Asheville,373.46,71.571906,7.023411,1.2686,63.0,106.0,3.6

In [90]:
print(f'ZIP master file MSA name dtype: {data.CBSA_Name.dtype}')
print(f'MSA file dtype: {msa_data.index.dtype}')

ZIP master file MSA name dtype: object
MSA file dtype: object

In [92]:
data = data.merge(msa_data, how='left', left_on='CBSA_Name', right_index=True)

In [119]:
data.to_csv('ZIP_all_data.csv')

In [120]:
data.columns

Index(['State', 'County', 'CBSA_Name', 'CountyFIPS', 'StateFIPS', 'Population',
       'HouseholdsPerZipCode', 'WhitePopulation', 'BlackPopulation',
       'HispanicPopulation', 'AsianPopulation', 'IndianPopulation',
       'OtherPopulation', 'MalePopulation', 'FemalePopulation',
       'AverageHouseValue', 'IncomePerHousehold', 'MedianAge',
       'NumberOfBusinesses', 'over_65_ratio', 'HPI', 'Demand_score',
       'Supply_score', 'listviews_vs_US', 'med_days_on_mkt', 'nielson_rank',
       'UE_rate', 'Hosp_count', 'school_rating'],
      dtype='object')